.venv
.venv/* 
venv/
venv/*
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.egg-info/
*.egg

# ignore airflow dir and files for local testing 
logs/* 
airflow.cfg
airflow.db
airflow-webserver.pid
airflow-scheduler.pid
airflow-worker.pid
webserver_config.py